html, body, main {
    margin: auto;
}

html {
    background: #555955;
}

body {
    width: 92%;
    font-family: Arial, Helvetica, sans-serif;
}

h1.title {
  text-align: center;
  color: #7b7b7b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}

.dataTables_length {
  margin-bottom: 30px;
}

input, select {
  padding: 5px;
  height: 30px;
  border: 1px solid #7b7b7b;
  border-radius: 10px;
}

main {
    background-color: #fff;
    padding: 20px;
}

header #banner {
    background-image: url('../img/bann.jpg');
    background-size: cover;
    height: 150px;
    padding: 20px;
}

header #logo {
    height: 100%;
    margin: 0;
}

  table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #616161;
  }

  #clients_wrapper {
    margin: auto;
}
table.dataTable#clients tbody tr.even {
  background-color: #f3f3f3 !important;
}

  table.dataTable tbody td {
    text-align: center;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 10px 10px !important;
}

.paginate_button.current {
  background-color: #017efd;
}

.flag-icon {
  background-size:30px 20px; 
  background-repeat: no-repeat; 
  background-position: center;
  text-indent: 500%;
  white-space: nowrap;
  overflow: hidden;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #fff !important;
  background: #017efd !important;
  border-radius: 10px !important;
}

.paginate_button:hover {
  border: none !important;
  background: transparent !important;
  border-radius: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  text-decoration: none;
  color: #017efd !important;
}

.dataTables_info, .dataTables_paginate {
margin-top: 30px;
margin-bottom: 30px;

}

#clients_filter {
  display: none;
}
.hidden {
  position: absolute;
  visibility: hidden;
}

.no-scroll {
    height: 100%; 
    overflow: hidden}


/* -----------------------------------------
  =CSS3 Loading animations
  Copyright (c) 2020 by Manoz (https://codepen.io/Manoz/pen/pydxK)
-------------------------------------------- */
p {
  margin: 0;
  padding: 10px 0;
  color: #777;
}

.load-wrapp {
  width: 200px;
  height: 110px;
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #d8d8d8;
}

.load-wrapp p {
  padding: 0 0 20px;
}
.load-wrapp:last-child {
  margin-right: 0;
}

.ring-2 {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border: 4px solid #4b9cdb;
  border-radius: 100%;
}

.ball-holder {
  position: absolute;
  width: 12px;
  height: 45px;
  left: 17px;
  top: 0px;
}

.ball {
  position: absolute;
  top: -11px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #4282b3;
}

.load-5 .ball-holder {
  animation: loadingE 1.3s linear infinite;
}

@keyframes loadingE {
  0 {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.dtsp-panesContainer {
  border: 0;
  padding: 0;
}

#custom_filters {
  float: right;
}

.clickable-cell {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
